.login-reg-tab {
  display: block;
  padding-bottom: 50px;
}

.login-reg-tab .login-reg-tab-headers {
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  padding: 50px 10px;
  margin-top: 20px;
}

.login-reg-tab .login-reg-tab-headers .login-reg-tab-header {
  cursor: pointer;
  color: #8e8c8c;
  font-size: clamp(1rem, 7vw, 2rem);
}

.login-reg-tab .login-reg-tab-headers .login-reg-tab-header.active {
  color: #0c0c0c;
}

.login-password-container {
  display: flex;
}

.password-eye {
  font-size: 1.2rem;
  margin-left: -2.5rem;
  color: #8e8c8c;
  cursor: pointer;
}

.login-btn-submit {
  width: 100%;
  padding: 10px 50px;
  border-radius: 5px;
  font-weight: bold;
  color: azure;
  margin-top: 20px;
  background-color: #bc3b33;
  border: none;
  margin-bottom: 10px;
  font-size: 20px;
  height: 55px;
}

.login-form {
  background-color: #f5f5f5;
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.08);
  padding: 25px;
  border-radius: 5px;
}
.login-soc-med {
  font-size: 30px;
}

.registration-policy {
  color: #8d8d8d;
}

.registration-policy-link {
  text-decoration: none;
}
