.pView-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.pView-image {
  width: 300px;
}
.pView-qty {
  width: auto;
  height: 36px;
}
.pView-qty-control {
  display: inline-flex;
  text-align: center;
  justify-content: center;
  border: 1px solid #5150508a;
}
.pView-qty-operation {
  display: inline;
  align-items: center;
  padding-left: 8px;
  padding-right: 8px;
  margin: 5px;
  cursor: pointer;
}
.pView-qty-input {
  border: none;
  width: 100px;
  text-align: center;
  outline: none;
}

.pView-controls {
  grid-column: 7/11;
  display: block;
}

.pView-price {
  font-size: 20px;
}

.pView-btn-submit {
  width: 100%;
  padding: 10px 50px;
  border-radius: 5px;
  font-weight: bold;
  color: azure;
  margin-top: 30px;
  background-color: #bc3b33;
  border: none;
  margin-bottom: 10px;
  font-size: 20px;
  height: 55px;
}

.pView-btn-submit:hover {
  background-color: #bc3c33f2 !important;
  color: aliceblue;
}

.pView-btn-icon {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  border: none;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 28px;
}
